*{
  margin: 0;
  padding: 0;
  box-sizing: bord
  er-box;
}
body{
  background: #111;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  /* --font-base: 'Lexend', sans-serif; */
  --font-second-base: 'Inter', sans-serif;
  --bg-color:#111;
  --primary-color:#fff;
  --secondary-color: #e50914;
}


@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
